.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Theme */

.MinDiv
{
  min-height: calc(100vh - 101px);
  left: 0;
  border: 1px solid lightgrey;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  overflow: hidden;
}
@media screen and (max-width: 575px)
{
  .MinDiv
  {
    margin-right: 0;
  }
  .minDiv-text
  {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 576px)
{
  .MinDiv
  {
    margin-right: 100px;
  }
}
@media (min-width: 576px) and (max-width: 991px)
{
  .minDiv-text
  {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 992px)
{
  .minDiv-text
  {
    padding-left: 100px;
    padding-right: 100px;
  }
  .minDiv-l-text-0
  {
    padding-left: 0;
  }
  .minDiv-r-text-0
  {
    padding-right: 0;
  }
}

/* Header */
/* Footer */
.submit-box
{
  height: 55px;
  border: 1px solid black;
  border-radius: 5px;
}
.submit-mail-left
{
  background-color: #EEEBE6;
  color: black;
  width: 100px;
  display: inline;
}
.submit-mail-left:focus
{
  background-color: #EEEBE6;
  color: black;
}
.submit-mail-right
{
  background-color: #565656;;
  width: 72px;
  border-radius: 5px;;
}
@media (max-width: 767px)
{
  ul.footer-links
  {
    padding-left: 0;
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px)
{
  ul.footer-links
  {
    padding-left: 0;
    margin-top: 50px;
  }
}
.font-36
{
  font-size: 36px;
}
.text-light
{
  color: #A0A0A0 !important;
}
.social-icon
{
  background-color: white;
  height: 42px;
  width: 42px;
  padding: 1px;
  border-radius: 20px;
}

/* Home */


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  font-weight: 200;
  font-size: 20px;
  animation: marquee 18s linear infinite;
}

  
.marquee2 span {
  animation-delay: 6s;
}

.marquee3 span {
  animation-delay: 12s;
}

.marquee-transform span {
  animation: marquee 18s linear infinite;
}

.marquee2-transform span {
  animation-delay: 0s;
}

.marquee3-transform span {
  animation-delay: 6s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.SectionFiveStripeAngle
{
  transform: rotate(-6.36deg);
  width: calc(100vw + 10px);
  margin-left: -10px;
}

.ul-check-circle
{
  /* border: 1px solid black; */
  font-weight: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  text-align: left;
  margin: 16px;
  list-style-type: none;
  /* list-style-image: url('../public/svgs/check-circle.svg'); */
}
.section-four-product-image
{
  width: 288px;
  height: 260px;
}
.SectionOneTextBox
{
  height: 100%;
  min-Height: calc(100vw / 2.21);
}
.SectionOneOverlay
{
  position: relative;
  height: 100%;
  min-height: calc(100vw / 2.21);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.5) 100%);
}
@media screen and (max-width: 575px) 
{
  .SectionOneOverlay
  {
    width: 100%;
  }
}
@media (min-width: 576px) 
{
  .SectionOneOverlay
  {
    width: calc(100vw - 100px);    
  }
}
@media screen and (max-width: 799px) 
{
  /* .SectionOneText
  {
    font-size: 36px;
  }  */
  .SectionTwoImage
  {
    min-height: 300px;
    width: 450px;
  }
}
@media (min-width: 800px) 
{
  /* .SectionOneText
  {
    font-size: 56px;
  } */
  .SectionTwoImage
  {
    min-height: 534px;
    width: 800px;
  }
  .SectionFiveStripeAngle
  {
    margin-top: 80px;
  }
  .FooterDiv
  {
    padding: 40px 100px;
  }
}
.SectionFiveImage
{
  overflow: hidden !important;
}




.active span
{
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}





.slider 
{
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.slides 
{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar 
{
  width: 0;
  height: 0;
}
.slides::-webkit-scrollbar-thumb 
{
  background: transparent;
  border-radius: 0;
}
.slides::-webkit-scrollbar-track 
{
  background: transparent;
}

.bottom-slider 
{
  width: 350px;
  text-align: center;
  overflow: hidden;
}
.bottom-slides 
{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.bottom-slides::-webkit-scrollbar 
{
  height: 2px;
}
.bottom-slides::-webkit-scrollbar-thumb 
{
  background: black;
  border-radius: 1px;
}
.bottom-slides::-webkit-scrollbar-track 
{
  background: lightgray;
}
.bottom-slides div
{
  padding: 0 175px;
}